<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YelpCamp</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
		<a class="navbar-brand" href="/">YelpCamp</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#the-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="the-navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a class="nav-link" href="/campgrounds">Home</a></li>
				<% if (currentUser && currentUser.isAdmin()) {%>
					<li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a class="nav-link" href="/users">Users</a></li>
				<%}%>
				<li class="nav-item"><a class="nav-link new-ui-button" href="/v2">New UI</a></li>
			</ul>
			<ul class="navbar-nav navbar-right ml-auto">
				<% if (!currentUser) { %>
					<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
					<li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
				<% } else { %>
					<li class="nav-item">
						<a class="nav-link" href="/users/<%=currentUser.id%>"><%=currentUser.username%>
							<img src="<%=currentUser.avatar%>" alt="" class="navbar-avatar">
						</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				<% } %>
			</ul>
		</div>
	</nav>

	<div class="container">
		<% if (error && error.length > 0) {%>
			<div class="alert alert-danger"><%=error%></div>
		<%}%>
		<% if (success && success.length > 0) {%>
			<div class="alert alert-success"><%=success%></div>
		<%}%>
	</div>

	<div class="container">